.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: 5%;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 8px 2px;
}

@media only screen and (max-width: 1215px) {
    .nav-list {
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
        transition: all 0.3s ease-out;
        height: 600px;
    }
    .rightNav {
        text-align: center;
    }
    #search {
        width: 100%;
        margin-bottom: 10px;
    }
    .burger {
        display: block;
    }
    .h-nav-resp {
        height: 46px;
    }
    .v-class-resp {
        opacity: 0;
    }
    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section {
        flex-direction: column-reverse;
    }
    .paras {
        padding: 0px;
    }
    .logo {
        margin-left: 5%;
    }
}